.size {
  margin: 10px;
}

.topping {

  margin: 10px;
}

 body {
   background-color: lightgreen;
 }

.container {
  background-color: white;
  padding-bottom: 100px;
}

#imgcheese {
  float: right;
  display: none;
  width: 500px;
}

#imgmeat {
  float: right;
  display: none;
  width: 500px;
}

#imgveggie {
  float: right;
  display: none;
  width: 500px;
}
